Welcome to Adonis Starter!
In order to finish account activation, please confirm your email following the link:
<a href="{{ host() }}{{ route('auth.confirm.email', { token: token }) }}">Confirm email</a>
